@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(../NotoSansKR/NotoSans-Light.woff2) format("woff2"),
    url(../NotoSansKR/NotoSans-Light.woff) format("woff"),
    url(../NotoSansKR/NotoSans-Light.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(../NotoSansKR/NotoSansKR-Regular.woff2) format("woff2"),
    url(../NotoSansKR/NotoSansKR-Regular.woff) format("woff"),
    url(../NotoSansKR/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../NotoSansKR/NotoSansKR-Medium.woff2) format("woff2"),
    url(../NotoSansKR/NotoSansKR-Medium.woff) format("woff"),
    url(../NotoSansKR/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: bold;
  src: url(../NotoSansKR/NotoSans-Bold.woff2) format("woff2"),
    url(../NotoSansKR/NotoSans-Bold.woff) format("woff"),
    url(../NotoSansKR/NotoSans-Bold.otf) format("opentype");
}

html {
  /* -webkit-text-size-adjust: 100%; */ /* overflow: hidden; */
}
body {
  margin: 0;
  padding: 0;
  color: #000;
  min-width: 320px;
  font-family: "Noto Sans KR", HelveticaNeue-Light, AppleSDGothicNeo-Light,
    "segoe ui", "malgun gothic", "ë§‘ì€ ê³ ë”•", "microsoft neogothic", arial,
    sans-serif !important;
}
html,
body {
  height: 100%;
  width: 100%;
}
@media (max-width: 960px),
  only screen and (max-device-width: 1440px) and (pointer: coarse) {
  body {
    width: 100%;
    height: 100%;
  }
}

.login_wrap {
  text-align: center;
  background: url(/images/logn/img_login.png) bottom center no-repeat;
  background-origin: content-box;
  background-size: cover;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 1280px;
  height: 100%;
  min-height: 700px;
  overflow-y: auto;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .login_wrap {
    min-height: 680px;
    min-width: 100%;
  }
}
@media (max-width: 620px) {
  .login_wrap {
    min-height: 510px;
    background: #0d0d68;
  }
}

.login_top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  padding: 38px 40px 0 40px;
  height: 74px;
}
.login_top .top_logo {
  width: 230px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  background: url(/images/logn/logo_top.png) left top no-repeat;
  background-size: 100%;
  font-size: 0;
}
.login_top .top_name {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 1px;
  color: #1f4596;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  margin-top: 1px;
  margin-left: 5px;
}
.login_top .top_description {
  width: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  color: #fff;
  font-size: 12px;
  text-align: right;
}
.top_description .f25 {
  font-size: 25px;
}
@media (max-width: 820px) {
  .login_top .top_description {
    display: none;
  }
}
@media (max-width: 620px) {
  .login_top {
    display: none;
  }
}

.description {
  display: inline-block;
  position: absolute;
  top: 48%;
  left: 45%;
  transform: translate(-45%, -45%);
  height: 420px;
  text-align: left;
  font-size: 50px;
  font-weight: 100;
  color: #000;
  text-shadow: 0px 0px 6px white;
  line-height: 1.1;
}
.description .blue {
  display: inline-block;
  color: #1f4596;
  font-weight: bold;
  margin-top: 10px;
}
@media (max-width: 1280px) {
  .description {
    top: auto;
    bottom: 170px;
    left: 2%;
    transform: translate(0, 0);
    height: auto;
    font-size: 34px;
    color: #fff;
    text-shadow: 0px 0px 6px white;
  }
}
@media (max-width: 820px) {
  .description {
    display: none;
  }
}

.login_box {
  display: inline-block;
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
  right: 5%;
  width: 405px;
  height: 425px;
  background-color: #fff;
  padding: 40px 30px;
}
.login_box .login_title {
  display: inline-block;
  width: 100%;
  text-align: right;
  color: #333;
  font-size: 21px;
  font-weight: 400;
  background: url(/images/logn/logo.png) left top no-repeat;
  background-size: 130px;
  margin-bottom: 15px;
}
@media (max-width: 1280px) {
  .login_box {
    top: 42%;
  }
}
@media (max-width: 820px) {
  .login_box {
    top: 40%;
    right: 0;
    left: 0;
    margin: auto;
  }
}
@media (max-width: 620px) {
  .login_box {
    top: 38%;
    width: auto;
  }
}

.login_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #f4f4f4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.login_bottom .copy {
  display: inline-flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 1px;
  padding-left: 40px;
  justify-content: center;
}
.login_bottom .copy > p {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 1px;
  font-size: 12px;
  color: #999999;
  text-align: left;
  margin-left: 10px;
}
.login_bottom .logo_gray {
  width: 163px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  background: url(/images/logn/logo_gray.png) left center no-repeat;
  background-size: 100%;
  font-size: 0;
}
.login_bottom .login_link {
  display: inline-block;
  width: auto;
  list-style: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.login_link li {
  display: inline-block;
  position: relative;
}
.login_link li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 40px;
  background-color: #dfdfdf;
  position: absolute;
  left: 0;
  top: 20px;
}
.login_link li:first-child::before {
  width: 0;
}
.login_link li a {
  display: inline-block;
  width: 120px;
  height: 80px;
  padding: 50px 5px 10px 5px;
  cursor: pointer;
  box-sizing: border-box;
}
.login_link li a span {
  display: inline-block;
  font-size: 13px;
  color: #666;
  font-weight: bold;
  vertical-align: bottom;
}
.login_link li a.link_1 {
  background: url(/images/logn/icon01.png) top 7px center no-repeat;
  background-size: 32px;
}
.login_link li a.link_2 {
  background: url(/images/logn/icon02.png) top 7px center no-repeat;
  background-size: 32px;
}
.login_link li a.link_3 {
  background: url(/images/logn/icon03.png) top 7px center no-repeat;
  background-size: 32px;
}
.login_link li a.link_4 {
  background: url(/images/logn/icon04.png) top 7px center no-repeat;
  background-size: 32px;
}
.login_link li a.link_5 {
  background: url(/images/logn/icon05.png) top 7px center no-repeat;
  background-size: 32px;
}
@media (max-width: 1280px) {
  .login_bottom {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    list-style: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
  }
  .login_bottom .copy {
    padding: 0 10px;
  }
  .login_bottom .copy > p {
    flex-grow: 0;
  }
  .login_bottom .login_link {
    order: -1;
    margin-top: 10px;
  }
}
@media (max-width: 620px) {
  .login_bottom {
    height: 140px;
    padding-top: 20px;
  }
  .login_bottom .login_link {
    width: 100%;
    font-size: 0;
  }
  .login_link li {
    width: 20%;
    font-size: 0;
  }
  .login_link li a {
    width: 100%;
  }
  .login_link li a span {
    font-size: 12px;
    font-weight: 400;
  }
  .login_bottom .copy {
    /* 		display: none; */
  }
}

.login_form {
}
.login_scroll {
}

input[type="text"],
input[type="password"] {
  display: inline-block;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  background-color: #f4f4f4;
  font-size: 14px !important;
  color: #000;
  padding: 5px 10px;
  margin-bottom: 10px;
}
input[type="text"]:placeholder,
input[type="password"]:placeholder {
  color: #999;
}
input[type="text"].bg {
  padding: 5px 10px 5px 63px;
  background: url(/images/logn/id.png) left 18px center no-repeat;
  background-color: #f4f4f4;
  background-size: 30px;
}
input[type="password"].bg {
  padding: 5px 10px 5px 63px;
  background: url(/images/logn/pw.png) left 18px center no-repeat;
  background-color: #f4f4f4;
}
.radiobox {
  display: inline-block;
  width: calc(100% - 110px);
}
.radiobox > label {
  width: 100% !important;
  font-size: 0 !important;
  height: 44px;
  padding: 10px 0 10px 35px;
  position: relative;
}
.radiobox input[type="radio"] {
  display: none;
}
.radiobox i::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 7px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #dfdfdf;
}
.radiobox input:checked + i::before {
  border: 1px solid #1f4596;
}
.radiobox input:checked + i::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 4px;
  top: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #1f4596;
}
.radiobox em {
  font-size: 13px;
  font-weight: bold;
}
.btn_gp {
  display: flex;
  justify-content: flex-end;
  margin: 0px -3px 0 -3px;
  padding: 0;
  list-style: none;
  padding-top: 5px;
  /* border-top: 1px solid #dfdfdf; */
}
.btn_gp li {
  margin: 0 10px;
  width: auto;
  color: #333;
  cursor: pointer;
}
.btn_gp li > a:hover {
  text-decoration: underline;
}
.btn_white,
.btn_gray,
.btn_blue {
  display: inline-block;
  width: 100%;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 20px 10px;
  cursor: pointer;
}
.btn_white {
  background-color: #fff;
  color: #333;
  padding: 16px 10px;
  border: 1px solid #dfdfdf;
  margin-top: 11px;
  height: 56px;
}
.btn_gray {
  background-color: #999;
  color: #fff;
}
.btn_blue {
  background-color: #1f4596;
  color: #fff;
}

.modal.view {
  display: inline-block;
  min-height: 700px;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal_wrap {
  display: inline-block;
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 500px;
  min-height: 500px;
  background-color: #fff;
  margin-left: 0 !important;
}
.modal.lg .modal_wrap {
  width: 1000px;
  min-height: 800px;
}
.modal.md .modal_wrap {
  width: 600px;
  min-height: 700px;
}
.modal.sm .modal_wrap {
  width: 500px;
  min-height: 370px;
}
.btn_close {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 0;
  top: -30px;
  right: 0;
  background: url(/images/logn/close.png) right center no-repeat;
  cursor: pointer;
}
span.text {
  font-size: 12px;
  color: #000;
  display: inline-block;
  width: 100%;
}
span.blue {
  color: #1f4596;
}
span.line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #dfdfdf;
  margin: 10px 0 20px 0;
}
.mb15 {
  display: inline-block;
  margin-bottom: 15px;
}
.pr88 {
  padding-right: 88px !important;
}
.pr58 {
  padding-right: 58px !important;
}
.modal_body {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 110px;
  overflow-y: auto;
  padding: 30px 40px 10px 40px;
}
.modal_body > label {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}
.modal_title {
  display: inline-block;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 15px;
}
.modal_form {
  display: inline-block;
  width: 100%;
  list-style: none;
  font-size: 0;
}
.modal_form li {
  position: relative;
  display: inline-block;
  margin: 5px 0;
  width: 100%;
  font-size: 0;
}
.modal_form li.cell5 {
  display: inline-block;
  margin: 5px 5px;
  width: calc(50% - 10px);
  font-size: 0;
}
.modal_form li.cell5:nth-child(2n) {
  margin-left: 5px;
}
.modal_form li.cell5:nth-child(2n-1) {
  margin-right: 5px;
}
.modal_form li > a[class*="btn"] {
  display: inline-block;
  position: absolute;
  width: auto;
  height: 45px;
  font-size: 14px;
  color: #fff;
  background-color: #1f4596;
  right: 35px;
  top: 7px;
  border-radius: 15px;
  padding: 13px 10px;
  font-weight: bold;
}
.modal_form li > a.btn-search {
  font-size: 0;
  width: 45px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 24 24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0V0z' style='fill:none'/%3E%3Cpath d='M15.5 14h-.8l-.3-.3c1-1.1 1.6-2.6 1.6-4.2C16 5.9 13.1 3 9.5 3S3 5.9 3 9.5 5.9 16 9.5 16c1.6 0 3.1-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C7 14 5 12 5 9.5S7 5 9.5 5 14 7 14 9.5 12 14 9.5 14z' style='fill:%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 7px center;
  background-size: 30px;
}
.modal_form label {
  display: inline-block;
  width: 110px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.modal_form.lg label {
  width: 100px;
}
.modal_form input {
  display: inline-block;
  width: calc(100% - 110px);
}
.modal_form.lg input {
  width: calc(100% - 130px);
}
.modal_form select {
  display: inline-block;
  width: calc(50% - 70px);
  height: 60px;
  border-radius: 15px;
  background-color: #f4f4f4;
  font-size: 14px !important;
  color: #000;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: right 8px center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAMAAAAlM38UAAAACVBMVEX///8tLS0tLS37CvDKAAAAAnRSTlMATX7+8BUAAAAySURBVHjatcgxEgAgCMAw4P+PdvICONutia9VlQHV3ed1msGXcrqccjqdcvo65XR60wNoZgCpdo7+EQAAAABJRU5ErkJggg==);
  background-size: 11px 8px;
  background-position: right 10px center;
  padding-right: 25px !important;
}
.modal_form select:first-child {
  margin-right: 5px;
}
.modal_form select:last-child {
  margin-left: 5px;
}
.modal_scroll {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  font-size: 12px;
  color: #666;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  background-color: #f4f4f4;
}
.modal_footer {
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0px 40px;
  height: 110px;
}
.modal_footer .btn_gp {
  display: flex;
  margin: 6px -3px 0 -3px;
  /* 	padding: 5px; */
  list-style: none;
  padding-top: 20px;
  border-top: 1px solid #dfdfdf;
}
.modal_footer .btn_gp li {
  margin: 0 10px;
  width: 100%;
  color: #333;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .modal.lg .modal_wrap {
    width: 94%;
    min-height: 90vh;
  }
  .modal.md .modal_wrap {
    width: 94%;
    min-height: 90vh;
  }
  .modal.sm .modal_wrap {
    width: 94%;
    min-height: 90vh;
  }
  .modal_form li.cell5 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
@media (max-width: 620px) {
  .modal_wrap {
    width: 94%;
    max-height: 90vh;
  }
  .modal_body {
    padding: 30px 20px 10px 20px;
  }

  .modal_form.lg input {
    width: calc(100% - 100px);
  }

  .modal_form li > a[class*="btn"] {
    right: 5px;
  }
}

.checkbox {
  display: inline-block;
  width: 100%;
}
.checkbox > label {
  width: 100% !important;
  font-size: 0 !important;
  height: 44px;
  padding: 10px 0 10px 35px;
  position: relative;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox i {
  display: inline-block;
  position: absolute;
  left: 0;
  top: -7px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}
.checkbox input:checked + i::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 10px;
  width: 11px;
  height: 4px;
  background-color: #1f4596;
  transform: rotate(45deg);
}
.checkbox input:checked + i::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 7px;
  width: 21px;
  height: 4px;
  background-color: #1f4596;
  transform: rotate(-45deg);
}
.checkbox em {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 3px;
}

.modal_scroll .tit {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
}
.modal_scroll .tit::before {
  content: "â–£";
  display: inline-block;
  position: absolute;
  font-size: 14px;
  top: 0px;
  left: 0px;
}
.modal_scroll .txt {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 12px;
  padding-left: 15px;
}
.modal_scroll .txt::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 6px;
  left: 4px;
  border: 1px solid #666;
  background-color: transparent;
}
.modal_scroll .txt.full::before {
  background-color: #666;
}
.modal_scroll .line {
  display: inline-block;
  width: 100%;
  height: 13px;
  background-color: transparent;
  margin: 0;
  font-size: 0;
}
